<div class="recipe-main">
  <div class="recipe-header">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput id="titleInput" [value]="recipe?.title" [formControl]="titleControl"
             (input)="recipeTitle($event)" />
      @if (titleControl.hasError('titleExists')) {
        <mat-error>Title already exists</mat-error>
      } @else if (titleControl.hasError('required')) {
        <mat-error>Title is required</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="recipe-tabs">
    <mat-tab-group>
      <mat-tab label="Description">
        <div class="recipe-description">
          <textarea matInput id="descriptionInput"
                    placeholder="Recipe description..."
                    [value]="recipe?.description"
                    (input)="recipeDescription($event)"></textarea>
          <p>Supports Markdown via <a href="https://marked.js.org/">marked</a></p>
          @if (hasDescription()) {
            <div class="preview" [innerHTML]="markdownService.renderAsHtml(description())"></div>
          }
        </div>
      </mat-tab>
      <mat-tab label="Ingredients">
        <app-ingredients [recipe]="recipe"></app-ingredients>
      </mat-tab>
      <mat-tab label="Steps">
        <app-steps [recipe]="recipe"></app-steps>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
