.recipe-app
  display: grid
  grid-template-rows: 10% auto 5%
  grid-template-columns: 40% 60%
  padding: 0
  height: 100%

  .header
    grid-column-start: 1
    grid-column-end: 3
    grid-row: 1
    padding: 0

    span
      font-size: larger
      padding-right: 50px

    mat-toolbar
      height: 100%

    mat-toolbar button
      background: inherit
      padding-right: 45px
      padding-top: 10px
      padding-bottom: 10px
      padding-left: 15px
      margin-right: 15px
      font-size: larger
      font-style: italic
      border: 0
      cursor: pointer
      height: 100%

  .ingredients
    grid-column: 1
    grid-row: 2
    padding: 10px

  .steps
    grid-column: 2
    grid-row: 2
    padding: 10px

  .footer
    grid-column-start: 1
    grid-column-end: 3
    grid-row: 3
    padding: 10px
    text-align: right
    font-size: smaller
