.recipe-app
  display: grid
  grid-template-rows: 8% 1fr 5%
  grid-template-columns: 1fr
  padding: 0
  height: 100vh
  width: 100vw

  .recipe-spacer
    flex: 1 1 auto

  .header
    grid-column: 1
    grid-row: 1
    padding: 0

    span
      font-size: larger
      padding-right: 50px

    mat-toolbar
      height: 100%

    mat-toolbar button
      background: inherit
      padding: 10px 45px 10px 15px
      margin-right: 15px
      font-size: larger
      font-style: italic
      border: 0
      cursor: pointer
      height: 100%

  .recipe
    grid-column: 1
    grid-row: 2
    overflow-y: scroll

  .footer
    grid-column: 1
    grid-row: 3
    padding: 10px
    font-size: smaller

    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 1fr 2fr

  .footer-buttons
    text-align: left

  .footer-logout
    cursor: pointer

  .footer-copyright
    text-align: right
