<div class="recipe-app">
  <div class="header">
    <mat-toolbar>
      <button routerLink="">Recipes</button>

      <!-- Phone UI -->
      <span class="recipe-title" *ngIf="!showFullHeader()">{{ recipeTitle() }}</span>

      <!-- Tablet/PC UI -->
      <button (click)="openRecipeViewer()" [disabled]="inRecipeEditor()" *ngIf="showFullHeader()">{{ recipeTitle() }}</button>
      <span class="recipe-spacer" *ngIf="showFullHeader()"></span>
      <button (click)="recipeSave()" [disabled]="inRecipeEditor()" *ngIf="showFullHeader()">Save</button>
      <button [routerLink]="editLink()" [disabled]="isEditDisabled()" *ngIf="showFullHeader()">Edit</button>
    </mat-toolbar>
  </div>
  <div class="recipe">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="footer-buttons">
      <a href="/index.html">reload</a>
      &nbsp;
      <a *ngIf="loggedIn()" (click)="logout()" class="footer-logout">logout</a>
    </div>
    <div class="footer-copyright">
      Recipes v{{ version }} &copy;{{ year }} Aaron Gideon Goldstein (bredmold@gmail.com)
    </div>
  </div>
</div>
