<div class="login">
  <form (submit)="onSignIn()">
    <div class="email">
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          [(ngModel)]="email_address"
          email
          placeholder="Enter Username"
          required
        />
      </mat-form-field>
    </div>

    <div class="password">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="password"
          ngModel
          type="password"
          minlength="8"
          required
          name="password"
          placeholder="Enter Password"
        />
      </mat-form-field>
    </div>

    @if (passwordChallenge) {
      <div class="newPassword">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input
            matInput
            [(ngModel)]="new_password"
            ngModel
            type="password"
            minlength="8"
            required
            name="new_password"
            placeholder="New Password"
          />
        </mat-form-field>
      </div>
      <button mat-button type="submit">Forced Password Change</button>
    } @else {
      <button mat-button type="submit">Login</button>
    }
  </form>
</div>
