<div class="home">
  <div class="recipe-list">
    @if (allRecipes.length > 0) {
      <mat-nav-list>
        @for (recipe of allRecipes; track recipe.id) {
          <mat-list-item [routerLink]="recipeLink(recipe.id)">
            <a matListItemTitle>{{ recipe.title }}</a>
            @if (recipe.description.trim().length > 0) {
              <span matListItemLine [innerHTML]="markdownService.renderAsHtml(recipe.description)"></span>
            }
          </mat-list-item>
        }
      </mat-nav-list>
    } @else {
      <div class="no-recipes">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
  @if (showEditLinks()) {
    <div class="right-sidebar">
      <div class="new-recipe">
        <button mat-raised-button color="primary" (click)="newRecipe()">New Recipe</button>
      </div>
      <div class="reload">
        <button mat-button (click)="reload()">&#8635;</button>
      </div>
      <div>
        <button (click)="backendPing()">ping</button>
      </div>
    </div>
  }
</div>
